.b-r {
  border-radius: 0px !important;
}

.p-0 {
  padding: 0px;
}

.height-33 {
  height: 33px;
}

.staff-p {
  padding: 2rem 2rem 0rem 2rem;
}

.tile {
  width: 240px;
  float: left;
  margin-bottom: 1rem;
}
.tile > .tile-circle {
  display: table-cell;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 27px;
}
.tile > .tile-right-part {
  padding-left: 20px;
  display: table-cell;
}
.tile > .tile-right-part > .tile-name {
  font-size: 15px;
}

.algn-item-center {
  align-items: baseline !important;
}
